/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {


    img {
      max-width: 100%;
  }
  
  #content2 {
    padding: 50px 0;
    border-radius: 1em;
    position: absolute;
    top: 635px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  
  }
  /* Medium Devices, Desktops */
  @media only screen and (max-width: 992px) {
    #main .inner> .description1{
      max-width: 80%;}
    
    }
      #inner_content >{
      
        max-width: 90%;}
    
        #main .inner > h1{
        
         font-size: 50px;}
    
    
    #content .inner_content p{
      
      max-width: 90%;}
  
  
  
  
      img {
        max-width: 150%;
    }
  
    #content2 {
      padding: 50px 0;
      border-radius: 1em;
      position: absolute;
      top: 635px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
  }
  
  
  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
  
    #main .inner > h1 {
      font-size: 40px;
  }
  
  header .container1 {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    
  }
  
  img {
    max-width: 200%;
  }
  
  #content2 {
    padding: 50px 0;
    border-radius: 1em;
    position: absolute;
    top: 761px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .mnu_top{
    display: none;
  }
  
  .hamburger{
      display: block;
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
   
  
    .mnu_top{
      display: none;
    }
  
    .hamburger{
        display: block;
    }
    
  }
  
  }
  /* Custom, iPhone Retina */
  @media only screen and (max-width: 320px) {
    /* */
  }